/* Overall */
body {
    background-color: #CBCBCB !important;
}

/* Sidebar */
.username-display {
    text-align: center;
}

.stats, .library {
    width: 100%;
    border-radius: 0 !important;
    font-size: 20px;
}

.stats:hover, .library:hover {
    background-color: #27496d;
}

.profile-image img {
    display: block;
    width: 100%;
    height: auto;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 35px;
}

.volforce-display {
    text-align: center;
}

/* Recent Songs */
.comp_recentsongs {
    width: 100%;
}

.comp_recentsongs table {
    border-collapse: collapse;
}

.comp_recentsongs table tr:hover td {
    background-color: #1C4269;
    transition: 0.1s;
}

.comp_recentsongs table tr {
    transition: 0.1s;
}

.recentscores, .volforce-line, .grade-pie, .topscores, .library-content {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

/* Top Scores */
.comp_topscores {
    width: 100%;
}

.comp_topscores table .number {
    width: 5%;
}

.tabcontent {
    display: none;
    animation: fadeEffect 0.5s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.comp_recentsongs td {
    padding: 5px;
}

.comp_recentsongs .jacket {
    width: 15%
}

.comp_recentsongs td img {
    width: 35%;
    margin-top: 5px;
    border-radius: 3px;
}

.active {
    background-color: #27496d;
    outline: none;
}

#tabProfile {
    display: block;
}

/* Library */
.comp_library {
    width: 100%;
    overflow-x: auto;
}

.comp_library table {
    width: 100%;
}

.comp_library table tr td {
    padding: 20px;
}

.comp_library img {
    vertical-align: middle;
    width: 80%;
    border-radius: 7px;
}

.comp_library .jacket {
    width: 8%;
    text-align: middle;
}

.comp_library .song {
    width: 35%;
}

.diffNOV, .diffADV, .diffEXH, .diffMXM {
    width: 10%;
}

.comp_library table {
    border-collapse: collapse;
}

@media only screen and (max-width: 1024px) {
    .recentscores, .volforce-line, .grade-pie, .topscores, .library-content {
        margin: 0 !important;
        border-radius: 0;
    }
}

@media only screen and (max-width: 726px) {
    .recent-display {
        overflow-x: scroll;
    }

    .comp_recentsongs .chart {
        width: 100%;
    }

    .comp_recentsongs table {
        width: 150%;
        overflow-x: scroll;
    }

    .comp_recentsongs .chart {
        width: 10rem;
    }

    .comp_recentsongs td {
        padding: 10px;
    }

    .comp_recentsongs .jacket {
        width: 30%;
    }

    .comp_recentsongs img {
        display: block;
        width: 10%;
    }

    .profile-image img {
        margin-top: 0px;
    }
}