/* Overall */
body {
    background-color: #CBCBCB !important;
}

/* Sidebar */
.username-display {
    text-align: center;
}

.profile-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 1em;
}

.volforce-display {
    text-align: center;
}

/* Recent Songs */
.comp_recentsongs {
    width: 100%;
}

.comp_recentsongs table tr:hover td {
    background-color: #1C4269;
    transition: 0.1s;
}

.comp_recentsongs table tr {
    transition: 0.1s;
}

.recentscores, .volforce-line, .grade-pie, .topscores {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}

/* Top Scores */
.comp_topscores {
    width: 100%;
}

.comp_topscores table .number {
    width: 5%;
}

@media only screen and (max-width: 1024px) {
    .profile-image img {
        margin-top: 0px;
    }

    .recentscores, .volforce-line, .grade-pie, .topscores {
        margin: 0;
        border-radius: 0;
    }
}