/* Song View Top */
.song-block {
    display: block;
    margin-left: 150px;
}

.comp_songviewtop img {
    width: 250px;
    border-radius: 10px;
}

.song-image .song-info, .song-image img {
    display: inline-block;
}

.song-info {
    margin-left: 25px;
}

.comp_songviewtop p {
    font-size: 20px;
    margin-top: 10px;
}

.comp_songviewtop h2 {
    margin-top: 0;
}

.comp_scoretable {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.comp_scoretable button {
    padding: 15px;
}

.comp_scoretable .submitscore {
    text-align: right;
}

.comp_scoretable table {
    background-color: #9D9D9D;
}

.comp_scoretable td, .comp_scoretable th {
    border: 1px solid #000;
    padding: 15px;
    border-collapse: collapse;
}

.comp_scoretable th:first-of-type {
    width: 5%;
}

.diff-buttons {
    text-align: center;
    margin-bottom: 25px;
}

.diff-buttons button {
    width: 75%;
}

.addscore button {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    font-size: 40px;
    margin-bottom: 0px;
    padding: 0;
}

.tabcontent {
    display: none;
    animation: fadeEffect 0.5s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.addscore button:hover {
    background-color: #00747F;
    transition: 0.2s;
}

.nov-button {
    background-color: #8952A7;
    transition: 0.2s;
}

.nov-button:hover {
    background-color: #713592;
    transition: 0.2s;
}

.adv-button {
    background-color: #EBD220;
    transition: 0.2s;
}

.adv-button:hover {
    background-color: #BEA80B;
    transition: 0.2s;
}

.exh-button {
    background-color: #E51F2D;
    transition: 0.2s;
}

.exh-button:hover {
    background-color: #B90B17;
    transition: 0.2s;
}

.mxm-button {
    background-color: #A6A6A6;
    transition: 0.2s;
}

.mxm-button:hover {
    background-color: #7A7A7A;
    transition: 0.2s;
}

.componentScoreTable {
    width: 100%;
}

.componentScoreTable tr th
{
    width: 25%;
}

@media only screen and (max-width: 1025px) {
    .comp_scoretable {
        margin-left: 100px;
        margin-right: 100px;
    }

    .addscore {
        margin-bottom: 20px;
    }

    .comp_scoretable button {
        margin-bottom: 4px;
    }
    
    .song-block {
        margin-left: 25px;
    }
}

@media only screen and (max-width: 769px) {
    .comp_scoretable {
        margin: 0;
    }

    .song-block {
        text-align: center;
    }

    .comp_songviewtop h2 {
        margin-top: 0;
    }

    .song-block {
        margin: 0;
    }
}

@media only screen and (max-width: 415px) {

    .song-image, .song-info {
        display: block;
    }

    .song-image h2 {
        margin-top: 0px;
        padding-top: 10px;
    }

    .song-info {
        width: 75%; 
    }
}