.comp_songtable {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    min-height: 800px;
}

.songtableclass {
    overflow-x: auto;
}

.song_entry_tr:hover {
    transition: 0.2s;
    cursor: pointer;
    background-color: #0E2E76
}

.comp_songtable img {
    vertical-align: middle;
    width: 80%;
    border-radius: 7px;
}

.comp_songtable .jacket {
    width: 8%;
    text-align: middle;
}

.comp_songtable th {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.comp_songtable td {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

/* Song List Search */
.form-flex-item {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.reset {
    width: 50%;
    font-size: 20px;
    transition: 0.2s;
    overflow: hidden;
}

.reset:hover {
    background-color: #00747F;
    cursor: pointer;
}

.button-flex {
    text-align: right;
}

.pageControl {
    border-radius: 2px !important;
    margin-top: 15px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.pageControl:hover {
    background-color: #717171;
    transition: 0.2s;
}

.pageControls:after {
    content: "";
    clear: both;
    display: table;
}

#next {
    float: right;
}

#prev {
    float: left;
}

#addSongModal {
    color: #000;
}

#addSongModal input {
    width: 50%;
    margin-bottom: 20px;
}

#addSongModal .modal-content{
    width: 60%;
    padding: 15px;
}

#addSongModal select {
    width: 75%;
    display: block;
    margin-bottom: 15px;
}

.comp_songtablesearch button:hover {
    background-color: #C8C8C8;
}

.songimagepreview {
    text-align: center;
}

.songimagepreview input{
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
}

.diffDropdown {
    margin-top: 10px !important;
}

#songnovice,
#songadvanced,
#songexhaust,
#songmaximum {
    display: block;
    margin-bottom: 5px;
}

#addSongModal .btn {
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
}

#addSongModal .column {
    padding-left: 20px;
    padding-right: 20px;
}

#addSongModal .close {
    margin-right: 30px;
}

#addSongModal .modal-content {
    border-radius: 5px;
    margin: 15% auto;
    padding-top: 20px;
    padding-bottom: 20px;
    animation-name: animateModal;
    animation-duration: 0.4s;
}

#addSongModal img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 250px;
    width: 250px;
}

@media only screen and (max-width: 1025px) {
    .comp_songtable {
        margin: 0;
        border-radius: 0;
    }

    #addSongModal .row {
        display: flex;  
    }

    #addSongModal .modal-content {
        width: 90%;
    }

    #addSongModal .addSongRow {
        padding: 10px;
    }

    #addSongModal .btn {
        width: 100%;
    }

    #addSongModal img {
        height: 150px;
        width: 150px !important;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .comp_songtable img {
        width: 5.5rem;
    }

    #addSongModal input {
        width: 100%;
    }
}

@media only screen and (max-width: 668px) {
    .comp_songtable img {
        width: 5rem;
    }

    #addSongModal .row {
        display: block;
    }

    #addSongModal select {
        width: 100%;
    }
}