.comp_songtable {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
}

.songtableclass {
    overflow-x: auto;
}

.comp_songtable img {
    vertical-align: middle;
    width: 80%;
    border-radius: 7px;
}

.comp_songtable .jacket {
    width: 8%;
    text-align: middle;
}

.comp_songtable th {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.comp_songtable td {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

/* Song List Search */
.form-flex-item {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.comp_songtablesearch button {
    width: 50%;
    font-size: 20px;
    transition: 0.2s;
    overflow: hidden;
}

.button-flex {
    text-align: right;
}

.pageControl {
    border-radius: 2px !important;
    margin-top: 15px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.pageControl:hover {
    background-color: #717171;
    transition: 0.2s;
}

#next {
    float: right;
}

.comp_songtablesearch button:hover {
    background-color: #C8C8C8;
}

@media only screen and (max-width: 1025px) {
    .comp_songtable {
        margin: 0;
        border-radius: 0;
    }
}